<!DOCTYPE html>
<html>
  <head>
    <title>Multitenancy</title>
    <%= stylesheet_link_tag    "multitenancy/application", media: "all" %>
    <%= javascript_include_tag "multitenancy/application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div>
      <% flash.each do |k, v| %>
        <div class="flash <%= k %>" >
          <%= v %>
        </div>
      <% end %>
    </div>
    <%= yield %>
    </div>
  </body>
</html>
